{% extends 'TrsteelBlogBundle::Backend/layout.html.twig' %}

{% block trsteel_blog_layout %}
<h1>{% block title %}Add Post{% endblock %}</h1>

<form action="{{ path('trsteel_blog_backend_post_add') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('trsteel_blog_backend_post_index') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}